<div class="row">
	<div class="small-12 columns">
		<h1>Account Profile (Model example)</h1>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
		<h3>Account Admin:</h3>
	</div>
	<div class="small-7 columns">
		<h3><%= adminName %></h3>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
		<h3>Company Name:</h3>
	</div>
	<div class="small-7 columns">
		<h3><%= companyName %></h3>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
		<h3>Company Street:</h3>
	</div>
	<div class="small-7 columns">
		<h3><%= companyAddressStreet %></h3>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
		<h3>Company State:</h3>
	</div>
	<div class="small-7 columns">
		<h3><%= companyAddressState %></h3>
	</div>
</div>
<div class="row">
	<div class="small-5 columns">
		<h3>Company Zip:</h3>
	</div>
	<div class="small-7 columns">
		<h3><%= companyAddressZipCode %></h3>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<br />
		<button class="home">Back to Home</button>
	</div>
</div>