<div class="row">
	<div class="small-12 columns">
		<h1 class="logo">Marionette Sample App</h1>
	</div> 
</div>
<form>
 	<div class="row username-row">
		<div class="small-12 columns login-field">
			<input id="username" type="text" autocorrect="off" autocapitalize="off" placeholder="Username">
		</div>
	</div>
 	<div class="row password-row">
		<div class="small-12 columns login-field">
			<input id="password" type="password" placeholder="Password">
		</div>
	</div>
 	<div class="row">
		<div class="small-12 columns">
			<div class="button" id="login">Log In</div>
		</div> 
	</div>
</form>