<div class="row">
	<div class="small-12 columns">
		<h3><%= customerName %></h3>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		<h5>Customer Id:</h5>
	</div>
	<div class="small-10 columns">
		<h5><%= customerId %></h5>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		<h5>Total Orders:</h5>
	</div>
	<div class="small-10 columns">
		<h5><%= customerNumberOfOrders %></h5>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
		<h5>Address:</h5>
	</div>
	<div class="small-10 columns">
		<h5><%= customerAddressStreet %></h5>
	</div>
</div>
<div class="row">
	<div class="small-2 columns">
	</div>
	<div class="small-10 columns">
		<h5><%= customerAddressState %>, <%= customerAddressZipCode %></h5>
	</div>
</div>
<br />